body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background: #f4f4f4;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dceaf7;
    /* Cor ajustada */
    color: black;
    padding: 20px;
}

header h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: monospace;
}


textarea,
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-family: monospace;
}

button {
    background: #c4d6e7;
    color: black;
    font-weight: bold;
    font-family: monospace;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#notesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}